.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid rgb(39, 39, 54);
  }

  h5 {
    color: black;
    margin: 1rem auto;
    font-weight: 300;
    font-size: 1.25rem;
    font-style: italic;
  }