.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
    background-color: var(--blue);
  }

  h5 {
    
    color: var(--black-010);
    margin: 1rem auto;
    font-weight: 200;
    font-size: 0.5rem;
  }