header {
    background-color: rgba(81, 90, 226, 0.1);
    box-shadow: 0 2px 3px rgba(81, 90, 226, 0.5);
}

header nav#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 5rem;
}

header nav#navbar .nav-brand {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 1rem;

}

header nav#navbar ul.nav-list {
    display: flex;
    justify-content: center;
    align-items: right;
    list-style: none;
    gap: 4rem;
}

header nav#navbar ul.nav-list li a {
    color: var(--black);
    font-size: 1.75rem;
    text-decoration: none;

}

header nav#navbar ul.nav-list li a:hover {
    font-size: 2rem;
    color: var(--blue);
}

h4 {
    color: blue;
    font-size: 1.5rem;
}
