table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  
  .message-service {
    margin: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    display: block;
  }