
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    font-size: 62.5%;
}

html
 {
    height: 100%; 
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(92, 80, 158, 0.05), rgba(162, 198, 247, 0.1)), url('../../assets/images/undraw_social_update_re_xhjr.svg');
    
}

body {
    height: 100%;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 100%;
    
    margin: 0.5rem auto;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    color: var(--black);
    text-wrap: balance;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 100%;
    margin: 0.5rem auto;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
      text-decoration: none;
      color: var(--white);
      text-wrap: pretty;
      text-align: center;

}

h3 {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
      text-decoration: none;
      color: var(--white);
      text-wrap: balance;

}

h5 {
    font-size: 1 rem;
    font-weight: 200;
    line-height: 100%;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
      text-wrap: balance;


}

p {
    color: var(--grey);
    font-size: 1rem;
    margin: 0.75rem 0;
    font-weight: 200;
    text-wrap: pretty;
}

ul {
    list-style: none;
    padding: 0;
}

