  
  .message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  4rem;
    margin-top: 4rem;
  }

  .message-form-container {
    width: 100%;
    max-width: 480px;
    margin: 0.5rem auto;
  }
  

  .message-form-controls-container {
    width: 100%;
    display: grid;
    grid-gap: 1.5rem;
    margin: 0.1rem 0;
  }



  .message-form-control {
    width: 100%;
    max-width: 360px;
    height: 5rem;
    font-size: 1.65rem;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 1rem;
    color: var(--black-010);
    background: none;
    border-style: outset;
    border-width: thin;
  }

  .message-form-control:focus {
    outline: none;
  }
  
  .message-form-control::placeholder {
    color: var(--message-color-font-placeholder);
  }
  .message-menu-item {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
  
  .message-card {
    margin: 2rem;
    border: none;
    background-color: none;
  }
  

  .message-form-buttons {
    width: 100%;
  }
  

  .message-btn {
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .message-btn-primary {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--black);
  }

  
  .message-input-error {
    border: 1px solid var(--message-color-error);
  }
  
  .message-form-error {
    color: var(--message-color-error);
    font-size: 0.75rem;
    padding-left: 4px;
  }
  
  .textarea-form {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--black-10);

  }
  
  textarea {
    width: 360px;
    height: 360px;

  }

  .textarea-form-message {
    font-size: 1rem;
    color: var(--black)
  }
  .message-text {
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    display: block;
  }

  .message-service {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    display: block;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
  
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    margin-top: 0.5rem;
    background-color: blue;
    content: "";
    transition: width 0.2s;
    
  }
  
  .underlineHover:hover {
    color: blue;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  