:root {

    --primary: #F9A826;
    --primary-010: #D69121;

    --grey: #9b9ba0;

    --white: #f8f8f8;

    --blue: rgba(4, 20, 247, 1);
    
    --black: #101010;
    --black-010: rgba(16,16,16, 0.5);

    --red: rgba(224, 24, 14,0.75);
    --red-010: #a30010;

    --green: rgba(8, 240, 124, 0.75);

    --message-btn-primary: white; 
    
    --message-color-btn-primary: rgb(119, 167, 238);
    --message-color-btn-inverse: #fff;
  
    --message-color-font-primary: #020202;
    --message-color-font-placeholder: #020202;
  
    --message-color-error: #f33;
}